---
import Layout from "../layouts/Layout.astro";
---
<Layout title="No lo he encontrado">
    <div class="h-screen w-full bg-indigo-900 flex justify-center items-center flex-col">
        <h1 class="text-[80px] text-red-600 font-bold">404 X.x</h1>
        <h2 class="text-[32px] text-white">Pagina no encontrada</h2>
        <img class="mt-[20px]" src="https://media2.giphy.com/media/C21GGDOpKT6Z4VuXyn/200w.webp?cid=ecf05e47vkmm84e1327mw2nm6tw7kt9k8ycjuyw4ugsfrz5a&ep=v1_gifs_search&rid=200w.webp&ct=g" alt="">
    </div>
</Layout>